body {
  margin: 0;
  background-image: url(./assets/bg.jpeg), url(./assets/bj2.jpeg); 
  background-size: 120% 215%; 
  background-repeat: no-repeat; 
  background-position: 0 0, 100% 0; 
  animation: moveBackground 90s linear infinite; 
}

@keyframes moveBackground {
  0% {
    background-position: 100% 0, 0 0; 
  }
  100% {
    background-position: 0 0, -100% 0; 
  }
}